/* Craft-preview */

.craftPreview {
  height: 48vh;
  background-image: url(../images/craft-background.jpg);
  background-size: cover;
  background-position: bottom;
}

.craftPreviewBlur {
  backdrop-filter: blur(5px) saturate(90%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  text-shadow: 2px 2px 0 black;
}

.craftPreviewBlur h1 {
  font-size: 39px;
  padding-bottom: 12px;
}

.craftPreviewBlur p {
  font-size: 20px;
}

.craftPreviewContainer {
  max-width: 1110px;
}