/* Craft-preview */

.craftPreview {
  height: 48vh;
  background-image: url(../images/craft-background.jpg);
  background-size: cover;
  background-position: bottom;
}

/* craftCards */

img {
  width: 100%;
  height: 100%;
}

.myWorks {
  padding: 30px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.craftCard {
  background-color: whitesmoke;
  border-radius: 15px;
  padding: 9px;
  transition: 0.3s ease-in-out;
  display: grid;
  gap: 9px;
  max-width: 330px;
  max-height: 445px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "a a a b"
    "a a a c"
    "a a a d"
    "text text text text";
}

.photo4 {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "a a a b"
    "a a a c"
    "a a a d"
    "text text text text";
}

.photo3 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "a a b"
    "a a c"
    "text text text";
}

.photo2 {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "a a b"
    "a a ."
    "text text text";
}

.photo1 {
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "a"
    "text";
}


.big-photo {
  grid-area: a;
  object-fit: cover;
}

.photo-2,
.photo-3,
.photo-4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-2 {
  grid-area: b;
}

.photo-3 {
  grid-area: c;
}

.photo-4 {
  grid-area: d;
}

.card-text {
  grid-area: text;
  color: black;
}

.craftCard:hover {
  scale: 1.025;
  box-shadow: 3px 3px 3px 3px #25292e;
}

@media (width <= 767px) {
  .myWorksContainer {
    display: flex;
   flex-direction: column;
   flex-wrap: wrap; 
  }
  
}