/* Preview */
.sitePreview {
  height: 48vh;
  background-image: url(../images/404.jpg);
  background-size: cover;
  background-position-y: 25%;
}

/* My sites */

.mySites h2 {
  flex-basis: 100%;
  text-align: center;
  padding: 15px;
}

.card {
  background-color: whitesmoke;
  color: black;
  display: flex;
  justify-content: center ;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 15px;
  padding: 6px;
  line-height: 2;
}

.cardPreview {
  background: url(../images/02.gif);
  background-position-x: 50%;
  width: auto;
  height: 220px;
  width: 320px;
  border-radius: 15px;
}

.card p {
  flex-basis: 100%;
}